.container {
	max-width: 960px;
	margin: 0 auto;
	
}

.container::after, .container::before {
	content: '';
	clear: both;
	display: table;
	
	
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
	min-height: 1px;
	float: left;
	display: block;
	margin-right: 10px;
	margin-left: 10px;
}

.grid1 {
	width: calc(8.333% - 20px);
}
.grid2 {
	width: calc(16.666% - 20px);
}
.grid3 {
	width: calc(25% - 20px);
}
.grid4 {
	width: calc(33.333% - 20px);
}
.grid-5 {
	width: calc(41.666% - 20px);
}
.grid6 {
	width: calc(50% - 20px);
}
.grid7 {
	width: calc(58.333% - 20px);
}
.grid8 {
	width: calc(66.666% - 20px);
}
.grid9 {
	width: calc(75% - 20px);
}
.grid10 {
	width: calc(83.333% - 20px);
}
.grid11 {
	width: calc(91.666% - 20px);
}
.grid12 {
	width: calc(100% - 20px);
}


