/* Reset */

body, h1, h2, h3, p, ul {
	margin: 0px;
	padding: 0px;
	
}

body {
	color: #1b1b1b;
	font-family: Georgia, serif;
	
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	
}

